Tests: runtime
Depends: qore-msgpack-module, qore
# QUnit writes progress messages to stderr even when every assertion passes.
Restrictions: allow-stderr

Tests: compiler
Depends: qore-msgpack-module, libqore-dev
