/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page msgpack_operation_modesguide Operation modes

    @tableofcontents

    The msgpack module supports the following operation modes:
    - <b>simple mode</b>: used for good inter-operability with other software using MessagePack for (de)serialization of data; may lose some precision/information for certain datatypes; this is the default
    - <b>qore mode</b>: aims for maximum compatibility with other Qore applications; does not lose any information

    With the functions @ref msgpack::msgpack_pack "msgpack_pack()" and @ref msgpack::msgpack_unpack "msgpack_unpack()", operation mode can be passed as their second argument (after the value to be (un)packed), as in the following example:
    @code{.py}
msgpack_pack(data, MSGPACK_SIMPLE_MODE);
msgpack_unpack(data, MSGPACK_QORE_MODE);
    @endcode

    With the objects of class @ref msgpack::MsgPack "MsgPack", operation mode can be passed as a constructor argument or set later via the @ref msgpack::MsgPack::setOperationMode "setOperationMode" method, as in the following example:
    @code{.py}
MsgPack mp(MSGPACK_QORE_MODE);
mp.setOperationMode(MSGPACK_SIMPLE_MODE);
    @endcode

    @section msgpack_operation_mode_constants Operation Mode Constants

    |! Constant |! Mode |! Value
    | @ref msgpack::MSGPACK_SIMPLE_MODE "MSGPACK_SIMPLE_MODE" | simple mode | 0
    | @ref msgpack::MSGPACK_QORE_MODE "MSGPACK_QORE_MODE" | qore mode | 1

    @section msgpack_simple_mode Simple Mode

    Simple mode is used for good compatibility with other software using MessagePack for (de)serialization of data. And because not all Qore datatypes have their MessagePack counterpart, some values are modified or automatically converted into different types to maintain compatibility. This happens to values of the @ref date, @ref null and @ref number datatypes, and to some values of the @ref string datatype.

    Simple mode is the default mode of operation for the packing/unpacking functions and for the @ref msgpack::MsgPack "MsgPack" objects.

    The following table shows how Qore values are mapped to MessagePack values during serialization:
    |!Qore Type|!MessagePack Type|!Notes
    |\c binary|<tt>Raw Binary</tt>|&#160;
    |\c bool|\c Boolean|&#160;
    |\c date (absolute)|<tt>Timestamp (extension)</tt>|date is converted into MessagePack Timestamp format
    |\c date (relative)|<tt>Raw String</tt>|date is converted into ISO-8601 duration format string (PnYnMnDTnHnMnS)
    |\c float|\c Float (64bit)|&#160;
    |\c hash|\c Map|loses complex type information
    |\c int|\c Integer|&#160;
    |\c list|\c Array|loses complex type information
    |@ref msgpack::MsgPackExtension "MsgPackExtension"|\c Extension|&#160;
    |\c nothing|\c Nil|&#160;
    |\c null|\c Nil|\c NULL values are serialized to \c Nil values, becoming the same as \c NOTHING values
    |\c number|\c Float (64bit)|numbers are converted into double (64-bit float) values, thereby possibly losing precision
    |\c object| | not supported
    |\c string|<tt>Raw String</tt>|all strings are converted to UTF-8 encoding

    The following table shows how MessagePack values are unpacked to Qore values:
    |!MessagePack Type|!Qore Type|!Notes
    |\c Array|\c list|&#160;
    |\c Boolean|\c bool|&#160;
    |\c Extension|@ref msgpack::MsgPackExtension "MsgPackExtension"|&#160;
    |\c Float|\c float|&#160;
    |\c Integer (signed)|\c int|&#160;
    |\c Integer (unsigned)|\c int or \c number|converted to \c int if smaller than 2^63 - 1, and converted to \c number otherwise
    |\c Map|\c hash|&#160;
    |\c Nil|\c nothing|&#160;
    |<tt>Raw Binary</tt>|\c binary|&#160;
    |<tt>Raw String</tt>|\c string|assumed to be in UTF-8 encoding
    |<tt>Timestamp (extension)</tt>|\c date|&#160;

    @section msgpack_qore_mode Qore Mode

    Qore mode aims for maximum compatibility with other Qore applications using this module and maintaining precision of data. Basic MessagePack types are used wherever possible and MessagePack extensions are used for Qore datatypes which don't have any MessagePack counterpart. This happens to values of the @ref date, @ref null and @ref number datatypes, and to some values of the @ref string datatype.

    The following table shows how Qore values are mapped to MessagePack values during Qore mode serialization:
    |!Qore Type|!MessagePack Type|!Notes
    |\c binary|<tt>Raw Binary</tt>|&#160;
    |\c bool|\c Boolean|&#160;
    |\c date (absolute)|\c Extension (@ref msgpack_ext_date)|&#160;
    |\c date (relative)|\c Extension (@ref msgpack_ext_date)|&#160;
    |\c float|\c Float (64bit)|&#160;
    |\c hash|\c Map|loses complex type information
    |\c int|\c Integer|&#160;
    |\c list|\c Array|loses complex type information
    |@ref msgpack::MsgPackExtension "MsgPackExtension"|\c Extension|&#160;
    |\c nothing|\c Nil|&#160;
    |\c null|\c Extension (@ref msgpack_ext_null)|&#160;
    |\c number|\c Extension (@ref msgpack_ext_number)|&#160;
    |\c object| | not supported
    |\c string (UTF-8)|<tt>Raw String</tt>|&#160;
    |\c string (non-UTF8)|\c Extension (@ref msgpack_ext_string)|&#160;

    The following table shows how MessagePack values are unpacked to Qore values in Qore mode:
    |!MessagePack Type|!Qore Type|!Notes
    |\c Array|\c list|&#160;
    |\c Boolean|\c bool|&#160;
    |\c Extension|@ref msgpack::MsgPackExtension "MsgPackExtension"|&#160;
    |\c Extension (@ref msgpack_ext_date)|\c date|&#160;
    |\c Extension (@ref msgpack_ext_null)|\c null|&#160;
    |\c Extension (@ref msgpack_ext_number)|\c number|&#160;
    |\c Extension (@ref msgpack_ext_string)|\c string|&#160;
    |\c Float|\c float|&#160;
    |\c Integer (signed)|\c int|&#160;
    |\c Integer (unsigned)|\c int or \c number|converted to \c int if smaller than 2^63 - 1, and converted to \c number otherwise
    |\c Map|\c hash|&#160;
    |\c Nil|\c nothing|&#160;
    |<tt>Raw Binary</tt>|\c binary|&#160;
    |<tt>Raw String</tt>|\c string|assumed to be in UTF-8 encoding
    |<tt>Timestamp (extension)</tt>|\c date|&#160;
*/
