/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page msgpackreleasenotesguide Release Notes

    @tableofcontents

    @section msgpackv1_0_1 MessagePack Module Version 1.0.1
    - aligned with %Qore changes related to doxygen

    @section msgpackv1_0 MessagePack Module Version 1.0
    - initial release
*/
