/** @mainpage Qore MessagePack Module

    @tableofcontents

    Contents of this documentation:
    - @ref msgpackintro
    - @ref msgpack_operation_modes
      - @ref msgpack_operation_mode_constants
      - @ref msgpack_simple_mode
      - @ref msgpack_qore_mode
    - @ref msgpack_extensions
      - @ref msgpack_ext_date
      - @ref msgpack_ext_null
      - @ref msgpack_ext_number
        - @ref msgpack_number_ext_constants
      - @ref msgpack_ext_string
        - @ref msgpack_encoding_constants
    - @ref msgpackreleasenotes

    @section msgpackintro Introduction to the MessagePack Module

    The \c msgpack module provides MessagePack serialization and deserialization capabilities to Qore, allowing Qore programs to serialize data more efficiently than with JSON, XML or YAML modules.

    This module is released under the MIT license (see LICENSE.txt in the source distribution for more information).
    The module is tagged as such in the module's header (meaning it can be loaded unconditionally regardless of how the %Qore library was initialized).

    Example using @ref msgpack::msgpack_pack "msgpack_pack" and @ref msgpack::msgpack_unpack "msgpack_unpack" functions:
    @code{.py}
hash example = {"compact": True, "schema": 0};
*binary packed = msgpack_pack(example);

# ---

auto unpacked = msgpack_unpack(packed);
    @endcode

    Example using the @ref msgpack::MsgPack "MsgPack" class:
    @code{.py}
MsgPack mp();
hash example = {"compact": True, "schema": 0};
*binary packed = mp.pack(example);

# ---

auto unpacked = mp.unpack(packed);
    @endcode

    @section msgpackdocumentation Documentation

    - @anchor msgpack_operation_modes @subpage msgpack_operation_modesguide
    - @anchor msgpack_extensions @subpage msgpack_extensionsguide
    - @anchor msgpackreleasenotes @subpage msgpackreleasenotesguide

*/
